apiVersion: apps/v1
kind: Deployment
metadata:
  name: traffic-generator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traffic-generator
  template:
    metadata:
      labels:
        app: traffic-generator
    spec:
      containers:
      - name: traffic-generator
        image: ecommerce-traffic:latest
        imagePullPolicy: Never
        env:
        - name: BACKEND_URL
          value: "http://backend:2000"
        - name: FRONTEND_URL
          value: "http://frontend:3000"
