apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasource-loki
  namespace: default
  labels:
    grafana_datasource: "1"
data:
  loki-datasource.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        type: loki
        uid: loki-uid
        access: proxy
        url: http://loki-gateway.default.svc.cluster.local
        isDefault: false
        jsonData:
          timeout: 60
          maxLines: 1000