apiVersion: v1
kind: Service
metadata:
  name: grafana-nodeport
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: grafana
    app.kubernetes.io/instance: k8s-monitoring
  ports:
    - port: 80
      targetPort: 3000
      nodePort: 32000
